In [29]:
import numpy as np
import pandas as pd

In [28]:
ab = [2, 9, 11, 13, 15] # Almond Butter
pb = [7, 4, 14, 13, 18] # Peanut Butter
cb = [1, 16, 18, 16, 9] # Cashew Butter

price = ["£10", "£8", "£12"]

In [32]:
all_b = np.column_stack((Almond_Butter, Peanut_Butter, Cashew_Butter))

all_b

array([[ 2,  7,  1],
       [ 9,  4, 16],
       [11, 14, 18],
       [13, 13, 16],
       [15, 18,  9]])

In [35]:
weekly_sales = pd.DataFrame(all_b, 
                            index=["Mon", "Tue", "Wed", "Thu", "Fri"], 
                            columns=["Almond Butter", "Peanut Butter", "Cashew Butter"])

weekly_sales

     Almond Butter  Peanut Butter  Cashew Butter
Mon              2              7              1
Tue              9              4             16
Wed             11             14             18
Thu             13             13             16
Fri             15             18              9

In [44]:
price_int = []

for i in price:
    price_int.append(int(i.split("£")[1]))

butter_prices = pd.DataFrame(np.array(price_int).reshape(1, 3),
                             index=["Price"], 
                             columns=["Almond Butter", "Peanut Butter", "Cashew Butter"])

butter_prices

       Almond Butter  Peanut Butter  Cashew Butter
Price             10              8             12

In [50]:
daily_total = weekly_sales.dot(butter_prices.T)
daily_total.columns = (["Profit"])

daily_total

     Profit
Mon      88
Tue     314
Wed     438
Thu     426
Fri     402

In [41]:
weekly_total = sum(daily_total)

print(f" Weekly total: £{weekly_total}")

 Weekly total: £1668